@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:hsl(218, 28%, 13%);
    width: 1440px;
    margin: 0px;
}


.navbar {
    display: flex;
    background: hsl(217, 28%, 15%);
    width: 100%;
}

.nested-navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    color: white;
    width: 100%;
}

.nested-navbar > li {
    padding: 20px; 
    font-family: 'Raleway', sans-serif;

}

.fylo-logo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(217, 28%, 15%);
    background-image: url('./images/bg-curvy-desktop.svg');
    background-position: bottom; 
    background-repeat: no-repeat;
}

.intro-nested {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.intro-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffff;
}

.intro-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffff;
}

.feature-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 65rem;
    height: 40rem;
    margin: 0 auto;      
    background:hsl(218, 28%, 13%);
}

.feature-container > .feature-item {
    width: 400px;
    justify-content: center;
    align-items: center;
}

.feature-item > h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffff;
}

.feature-item > p {
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    color: #ffff;
}

.feature-item-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffff;
}

.feature-header {
    font-size: 1.5rem;
}

.main-feature {
    display: flex;
    justify-content: center;
    width: 65rem;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 2rem;
}

.testimonial-item {
    background-color: hsl(219, 30%, 18%);
    padding: 1.5rem;
    margin: 2rem;
   
}

.testimonial-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0%;
    margin: 0%;
}

.author-info {
    padding: 0%;
    margin-left: 0.5rem;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    color: #ffff;
}

.author-name {
    font-size: 12px;
    font-weight: bold;
}

.author-title { 
    font-size: 0.5rem;
    padding-top: 0.5rem;
}

.float-box {
   
    background-color: hsl(219, 30%, 18%);
    padding: 2rem;
    width: 40rem;
    position:relative;
    bottom: -5.5rem;
    left: 25%;
}

.float-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.float-header {
    font-size: 20px;
}

.float-text {
    font-size: 10px; 
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.float-input {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-box {
    width: inherit;
    border-radius: 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    border: none;
    margin-right: 1.5rem;
}

.input-submit {
    width: 20rem;
    border-radius: 1rem;
    background-color:  hsl(176, 68%, 64%);
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    border: none;
}

.bottom-content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 8rem;
    background: hsl(216, 53%, 9%)
}

.footer-logo-container {
    width: 100%
}

.footer-logo {
    width: 8rem;
}

.footer-text  {
    display: flex;
    flex-direction: row;
    width: 15rem;
}

.footer-text > p {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: white;

}

.footer-location-logo {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
}

.footer-phone-logo {
    width: 0.8rem;
    height: 0.8rem;
    padding-right: 1rem;
    vertical-align:middle;

}

.footer-email-logo {
    width: 0.8rem;
    height: 0.8rem;
    padding-right: 1rem;
    vertical-align:middle;

}

.footer-contact {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: white;
}

.footer-contact > li {
    padding-bottom: 1rem;

}

.footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    width: 15rem;
    height: 8rem;
}

.footer-links > li {
    padding-bottom: 1rem;
}

.footer-logo-links {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    margin: 0px;
}

.fab {
    border-radius: 50%;
    border: solid 1px white;
    padding: 0.3rem;
    margin: 5px;
    font-size: 10px;
}



