body {
    display: flex;
    flex-direction: column;
    /* width: 1440px; */
}

.navbar {
    display: flex;
    background: hsl(217, 28%, 15%);
    width: 100%;
}

.nested-navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    color: white;
    width: 100%;
}

.nested-navbar > li {
    padding: 20px; 
}
