@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    display: flex;
    flex-direction: column;
    background:hsl(218, 28%, 13%);
    width: 1440px;
    margin: 0px;
}


.navbar {
    display: flex;
    background: hsl(217, 28%, 15%);
    width: 100%;
}

.nested-navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    color: white;
    width: 100%;
}

.nested-navbar > li {
    padding: 20px; 
    font-family: 'Raleway', sans-serif;

}

.fylo-logo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 65rem;
    height: 40rem;
    margin: 0 auto;      
    border: 2px solid black;
}

.feature-container > .feature-item {
    width: 400px;
    justify-content: center;

}

.main-feature {
    display: flex;
    justify-content: center;
    width: auto;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    width: auto;
}